<html>

<head>
    <title>How to Work with emmet in Atom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- BigVideo Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="bower_components/jquery/jquery.min.js"><\/script>')
    </script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="//vjs.zencdn.net/4.3/video.js"></script>

    <!-- BigVideo -->
    <script src="bower_components/BigVideo/lib/bigvideo.js"></script>

</head>

<body>
    <!-- div>.container>h1{Emmet 縮寫}+ul.list-group>li.list-group-item*3>h2{title}+.jumbotron{test} -->
    <!-- div>header+nav+aside+article+footer -->

</body>

</html>