doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/public/style.css')

    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
    script.
      

  body
    div(class='container')
      block content
    