html, body {
  height: 100%;
  width: 100%;
}

#menuBar {
        opacity: .5;
    }

/* 文字垂直置中 */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* 文字大小 */
.text-vcenter h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* 第1個區塊用 */
#home {
  background: url(/public/bg1.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 拉大間距 */
.top-bottom-pad {
  padding: 225px 0;
}

#services {
  background: url(/public/bg2.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background: url(/public/bg7.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}